html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {clear: both;}

.main-wrapper {
	width: 100%;
	margin: 0 auto;
}

header {
	min-height: 800px;
	background: url("../images/home-bg.jpg") no-repeat ;
	background-size: cover;

}

#header-content {
	display: block;
	width: 45%;
	padding-top: 120px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 30px; 
	font: 60px 'Exo', sans-serif;
	color: #282828;
}

#btn-container {
	width: 225px;
	margin: 0 auto;
}

#play-button {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-bottom: 30px;
	background: url("../images/play-btn.png") no-repeat;
	border-radius: 50%;

}



#try-button {
	display: inline-block;
	width: 190px;
	height: 35px;
	font: 16px 'Exo', sans-serif;
	color: #fff;
	margin-bottom: 10px;
	padding-top: 15px;
	letter-spacing: 3px;
	background-color: #ff6d6d;
	border-radius: 2px;
}

#try-button:hover {
	background-color: #fb5c5c;
}

#header-content p {
	font: 14px 'Exo', sans-serif;
	color: #8b8b8e;
}

#section-1 {
	background: url("../images/section-1.jpg") no-repeat  110% 0;
	padding: 160px 55% 160px 150px;
}


.pink-title {
	display: inline-block;
	color: #ff6d6d;
	font: 16px 'Exo', sans-serif;
}

.title {
	display: inline-block;
	color: #282828;
	font: 40px 'Exo', sans-serif;
	margin-bottom: 40px;
}

.descript {
	font: 16px/24px 'Exo', sans-serif;
	margin-bottom: 30px;
	color: #8a8a8a;
	overflow: hidden;
}

#section-2 {
	height: 675px;
	background: url("../images/section-2.jpg") no-repeat;
	background-size: cover;
	text-align: center;
}


#section-2 h5 {
	padding-top: 135px;
}

#section-2 h3 {
	margin-bottom: 80px;
}

.features-wrap {
	width: 75%;
	margin: 0 auto;
}

.some-feature {
	display: inline-block;
	float: left;
	width: 31%;
	text-align: center;
	margin-right: 30px;

}

.some-feature:last-child {
	margin-right: 0;
}

h4 {
	display: block;
	padding-top: 25px;
	padding-bottom: 10px;
	font: 22px 'Exo', sans-serif;
}

.some-feature img {
	width: 65px;
	height: 65px;
}

#section-3 {
	height: 415px;
	background: url("../images/section-3.jpg") no-repeat 0 0;
	padding: 135px 265px 0 50%; 
}

#clients {
	height: 645px;
	background: url("../images/clients-bg.jpg") no-repeat;
	background-size: cover;
}

.clients-wrap {
	width: 80%;
	margin: 0 auto;
	padding-top: 110px;
}

.client {
	display: inline-block;
	float: left;
	width: 30%;
	text-align: center;
	margin-right: 60px;

}

.client:last-child {
	margin-right: 0;
}

.client h4 {
	color: #fff;
}

.client p{
	color: #c7c7c8;
}

.logos {
	width: 65%;
	margin: 0 auto;
	padding-top: 70px;
}

.logos img {
	margin-right: 90px;
}

.logos img:last-child {
	margin-right: 0;
}

#section-4 {
	height: 755px;
	background: url("../images/section-4.jpg") no-repeat; 
	background-size: cover;
	text-align: center;
	padding: 0 400px;
}

#section-4 h5 {
	padding-top: 135px;
}

#section-4 h3 {
	margin-bottom: 50px;
}