html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {clear: both;}



.main-wrapper {
	width: 100%;
	margin: 0 auto;
}

header {
	height: 800px;
	width: 100%;
	background: url("../images/home-bg.jpg") no-repeat ;
	background-size: cover;
	min-height: 500px;
	min-width: 900px;

}

#header-content {
	display: block;
	width: 45%;
	padding-top: 120px;
	margin: 0 auto;
	text-align: center;
	min-width: 600px;
}

h1 {
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 30px; 
	font: 60px 'Exo', sans-serif;
	color: #282828;
}

#btn-container {
	width: 225px;
	margin: 0 auto;
}

#play-button {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-bottom: 30px;
	background: url("../images/play-btn.png") no-repeat;
	border-radius: 50%;

}



#try-button {
	display: inline-block;
	width: 190px;
	height: 35px;
	font: 16px 'Exo', sans-serif;
	color: #fff;
	margin-bottom: 10px;
	padding-top: 15px;
	letter-spacing: 3px;
	background-color: #ff6d6d;
	border-radius: 2px;
}

#try-button:hover {
	background-color: #fb5c5c;
}

#header-content p {
	font: 14px 'Exo', sans-serif;
	color: #282828;
}

#section-1 {
	width: 100%;
	height: 725px;
	background: url("../images/section-1.jpg") no-repeat 110% 0  ;
	min-width: 900px;
	min-height: 500px;
}

#section-1 div {
	width: 36%;
	padding: 180px 0 0 10%;
	min-width: 500px;
}

.pink-title {
	display: inline-block;
	color: #ff6d6d;
	font: 16px 'Exo', sans-serif;
}

.title {
	display: block;
	color: #282828;
	font: 40px 'Exo', sans-serif;
	margin-bottom: 40px;
}

.descript {
	display: inline-block;
	font: 16px/24px 'Exo', sans-serif;
	margin-bottom: 30px;
	color: #8a8a8a;
}

#section-2 {
	width: 100%;
	height: 675px;
	background: url("../images/section-2.jpg") no-repeat;
	background-size: cover;
	text-align: center;
	min-width: 900px;
	min-height: 400px;
}


#section-2 h5 {
	padding-top: 135px;
}

#section-2 h3 {
	margin-bottom: 80px;
}

.features-wrap {
	width: 75%;
	margin: 0 auto;
	min-width: 900px;
}

.some-feature {
	display: inline-block;
	float: left;
	width: 31%;
	text-align: center;
	margin-right: 30px;
	min-width: 200px;

}

.some-feature:last-child {
	margin-right: 0;
}

h4 {
	display: block;
	padding-top: 25px;
	padding-bottom: 10px;
	font: 22px 'Exo', sans-serif;
}

.some-feature img {
	width: 65px;
	height: 65px;
}

#section-3 {
	width: 100%;
	height: 550px;
	background: url("../images/section-3.jpg") no-repeat 0 0;
	min-width: 900px;
}

#section-3 div {
	float: right;
	width: 32%;
	padding: 130px 17% 0 0;
	min-width: 450px;
}

#clients {
	width: 100%;
	height: 645px;
	background: url("../images/clients-bg.jpg") no-repeat;
	background-size: cover;
	min-width: 900px;


}

.clients-wrap {
	width: 80%;
	margin: 0 auto;
	padding-top: 8%;
	min-width: 900px;
}

.client {
	display: block;
	float: left;
	width: 30%;
	text-align: center;
	margin-right: 5%;
	min-width: 250px;
}

.client:last-child {
	margin-right: 0;
}

.client h4 {
	color: #fff;
}

.client p{
	color: #c7c7c8;
}

.logos {
	width: 100%;
	padding-top: 5%;
}



@media screen and (max-width: 1100px) {
	.logos img {
		margin-right: 3%;
	}

	.logos img:first-child {
		margin-left: 13%;
	}

	.logos img:last-child {
		margin-right: 0;
	}

}


@media screen and (min-width: 1100px) {

	.logos img {
		margin-right: 5%;
	}

	.logos img:first-child {
		margin-left: 20%;
	}

	.logos img:last-child {
		margin-right: 0;
	}

}

#section-4 {
	width: 100%;
	height: 755px;
	background: url("../images/section-4.jpg") no-repeat; 
	background-size: cover;
	text-align: center;
	min-width: 900px;
	min-height: 500px;
}

#section-4 h5 {
	padding-top: 135px;
}

#section-4 h3 {
	margin-bottom: 50px;
}

#section-4 div {
	width: 50%;
	margin: 0 auto;
}